/* You can add global styles to this file, and also import other style files */
.section-1 {
  margin-top: 200px;
    background-color: #1D75DE;
    height: 500px;
    position:fixed;
   
  }
  
  .section-2 {
    margin-top: 400px;
    background-color: #FFFFFF;
    height: 500px;
    position:fixed;

  }
  
  