/* You can add global styles to this file, and also import other style files */
.section-1 {
    background-color: #1D75DE;
    height: 500px;
  }
  
  .section-2 {
    background-color: #FFFFFF;
    height: 500px;
  }
  
  .section-3 {
    background-color: #EFEFEF;
    height: 500px;
  }
  