$custom-primary:white;
$custom-secondary: #ff4081;
$custom-accent: #ffd740;
$custom-warn: #f44336;


$typography: (
  font-family: 'Roboto, Arial, sans-serif',
  h1: mat-typography-level(4, 48px, 56px),
  h2: mat-typography-level(3, 32px, 48px),
  h3: mat-typography-level(2, 24px, 36px),
  h4: mat-typography-level(1, 20px, 28px)
);

body:nth-of-type(1) {
  background-color: #1D75DE;
  height: 500px;
  }
  
  body:nth-of-type(2) {
  background-color: #FFFFFF;
  height: 500px;
  }
  
  body:nth-of-type(3) {
  background-color: #EFEFEF;
  height: 500px;
  }

.logo {
  height: 70px;
  width: 70px;
  margin-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input[type="submit"] {
  background-color: $custom-secondary;
  color: white;
}
