$custom-primary:white;
$custom-secondary: #ff4081;
$custom-accent: #ffd740;
$custom-warn: #f44336;


$typography: (
  font-family: 'Roboto, Arial, sans-serif',
  h1: mat-typography-level(4, 48px, 56px),
  h2: mat-typography-level(3, 32px, 48px),
  h3: mat-typography-level(2, 24px, 36px),
  h4: mat-typography-level(1, 20px, 28px)
);
.slideshow {
  display: flex;
  justify-content: center;
}

.content {
  display: none;
}

.content:first-child {
  display: block;
}

body {
  background-color: black;
  height: 100vh;
  margin:auto;
  }
  
  .content {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
}

.content > mat-card {
    width: 200px;
}
  .section-1 {
    margin-top: 300px;
      background-color: #EFEFEF;
      height: 300px;
      position:relative;
      margin:auto;
      display:flex;
      width: 100vw;
   
     
    }
    .section-2 {
      margin-top: 0px;
      background-color: #FFFFFF;
      height: 300px;
      width: 100vw;
      position:relative;
      margin: auto;
      display: flex;
   
     
    }
    
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(150, 169, 179, 0.5);
     
    }

.logo {
  height: 150px;
  width: 150px;
  margin-left: 40px;
 
}

.spacer {
  flex: 1 1 auto;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input[type="submit"] {
  background-color: $custom-secondary;
  color: white;
}
