:root {
  --custom-primary: white;
  --custom-secondary: #ff4081;
  --custom-accent: #ffd740;
  --custom-warn: #f44336;
}


.section-1 {
  margin-top: 180px;
    background-color:#503750;
    height: 300px;
    position:relative;
    width: 100vw; 
  }
  .content {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
}

.content > mat-card {
    width: 200px;
}
  .section-2 {
    margin-top: 0px;
    background-color: #FFFFFF;
    height: 500px;
    width: 100vw;
    position:relative;
  justify-content: space-between;
    display: flex;
 
   
  }
  

  .section-3 {
    margin-top: 0px;
    background-color: #EFEFEF;
    height: 500px;
    width: 100vw;
    position:relative;
  justify-content: space-between;
    display: flex;
 
   
  }
  
  
  
  
  
  body:nth-of-type(2) {
  background-color: #FFFFFF;
  height: 500px;
  }
  
  body:nth-of-type(3) {
  background-color: #EFEFEF;
  height: 500px;
  }
input[type="submit"] {
  background-color: var(--custom-secondary);
  color: white;
}
.navbar {
  background-color: black;
  position: fixed; 
  top: 0px;
  display: flex;
  margin: 20px;
  height: 70px;
}

#img {
  width: auto;
  margin-left: 5px;
}
