

<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />



<app-navbar></app-navbar>
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'YOUR_MAPBOX_ACCESS_TOKEN';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>

<router-outlet></router-outlet>
<app-footer></app-footer>
<script>const card = document.querySelector('.card');
  const cardBack = document.querySelector('#card-back');
  
  card.addEventListener('mouseenter', () => {
    card.classList.add('flipped');
    cardBack.innerHTML = "Different Back Content";
  });
  
  card.addEventListener('mouseleave', () => {
    card.classList.remove('flipped');
    cardBack.innerHTML = "Back Content";
  });
  </script>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js?access_token=sk.eyJ1IjoibWFyY3dheW43IiwiYSI6ImNsZTBuOHppbDByMG8zb284OXMzaDBxb3kifQ.81d5MvNofyYW0ZCtoajk_A'></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>

<script src="https://d3js.org/d3.v4.min.js">

  let slideIndex = 0;

  function showSlides() {
    const slides = document.getElementsByClassName("mySlides");
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }

  function startSlideShow() {
    setInterval(showSlides, 5000);
  }
</script>
