
<app-navbar></app-navbar>
<div class="section-1">
    <p id="intro">NoNoise NYC is dedicated to promoting a quieter world, one community at a time. We recognize the detrimental effects that noise pollution has on the mental, physical, and financial well-being of our members in low-income neighborhoods.</p>
    <img mat-card-image src="./assets/images/noNoisee.jfif">
  </div>
  <div class="section-2">
    
    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Noise Pollution disrupts bronx residents.</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/bronx.jfif">
        <mat-card-content>
          <p>
            The Bronx is the noisiest neighborhood in NYC.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Learn More</button>
          
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Noise Pollution usually comes with other forms of pollution</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/duality.jfif">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Learn More</button>
          
        </mat-card-actions>
      </mat-card>
    </div>
    
    
    </div>
    <div class="section-3">
    
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Why Join Us?</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./assets/images/partying.png">
          <mat-card-content>
            <p>
             Partying is the third most popular noise complaint in NYC
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Why Join us?</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./assets/images/jackhammer.png">
          <mat-card-content>
            <p>
              Construction is the Number 1 noise complaint in NYC
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Why Join us?</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./assets/images/construction.png">
          <mat-card-content>
            <p>
             Construction is also a bigger problem in low-income neighborhoods
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
          
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Why Join us?</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./assets/images/barkingdog.png">
          <mat-card-content>
            <p>
             Barking dogs are the second highest noise complaint in NYC
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
          
          </mat-card-actions>
        </mat-card>
      </div>
      
      </div>
      
    <app-footer></app-footer>
<router-outlet></router-outlet>



