:root {
  --custom-primary: white;
  --custom-secondary: #ff4081;
  --custom-accent: #ffd740;
  --custom-warn: #f44336;
}
.modal-open {
  filter: blur(4px);
}

.section-1 {
  margin: auto;
    background-color:#503750;
    height: 420px;
    position:relative;
    width: 100vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E6C4F4;
  }
  .content {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
}
#intro{
  display: flex;
  color: #E6C4F4;
  flex-direction: column;
  margin-left:100px;
  margin-right: 100px;
  width:400px;
}

#img3{
  margin-top:30px;
}
#img1{
  width:300px;
  height:300px;
  margin-right: 100px;
}


.content > mat-card {
    width: 200px;
}
  .section-2 {
    
    background-color: transparent;
    height: 480px;
    width: 100vw;
    position:relative;
  justify-content: space-evenly;
  align-items: center;
    display: flex;
  }
  

  .section-3 {
    margin-top: 0px;
    background-color: transparent;
    height: 450px;
    width: 100vw;
    position:relative;
  justify-content: space-evenly;
  align-items: center;
    display: flex;
  }

  #title{
    margin-left:50px;
  }
  
  
 
input[type="submit"] {
  background-color: var(--custom-secondary);
  color: white;
}
.navbar {
  background-color: black;
  position: fixed; 
  top: 0px;
  display: flex;
  margin: 20px;
  height: 70px;
}

#img {
  width: auto;
  margin-left: 5px;
}

#imag{
  width:250px;
  height:250px;
}

.card{
  width:250px;
  height:400px;
  background-color: white;
}
body {
  background-color:white;
  background-size: cover;
  height: 100vh;
  margin: auto;
}